@import '../../scss/mixins';
.material-filter {
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  & > svg {
    font-size: 1.3rem;
    margin-right: 15px;
    @include respond-to(desktop) {
      margin-right: 25px;
    }
  }
}
