@import '../../../scss/mixins';
.main-image {
    width: 100%;
}
.thumb-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar { 
        display: none; 
    }
    & > div {
        flex: 0 0 auto;
        max-width: 40%;
        @include respond-to(desktop) {
            max-width: 25%;
        }
    } 
}

.selected {
    border-bottom: 3px solid darkblue
}

.scroll-buttons {
    cursor: pointer;
    height: 100%;
    background-color: lightcoral;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}