.footer {
    margin-top: 10px;
    padding-bottom: 20px;
    @media (min-width: $grid-large-breakpoint) {
        padding-bottom: 0;
    }
    fieldset {
        border: none;
    }

    .information {
        background-color: lightgray;
        padding: 7px 0 7px 0;
        i {
            margin-right: 5px;
        }
        margin-bottom: 20px;
    }

    .newsletter {
        h4 {
            margin: 0;
        }
        margin-bottom: 20px;
    }

    .footer-nav {
        display: none;
        @media (min-width: $grid-large-breakpoint) {
            display: flex;
            justify-content: space-around;
            background-color: black;
            padding: 10px 0 10px 0;
            color: white;
            a {
                color: white;
            }
        }
    }


}