
// Aligns content horizontally
.no-gutters {
    padding: 0;
}
.row-center {
    align-items: center;
    justify-content: center
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.bottom-spacing-xl {
    margin-bottom: 25px;
}
.devider {
    margin: 0 0 20px;
    border:0;
    border-bottom: 1px solid gray;

}
.horizontal-align-center {
    align-items: center;
}
.full-width {
    width: 100%;
}