div.product {
    h1 {
        font-size: 2rem;
        padding-left: 0;
        margin-left: 0;
    }

    .product-main, .product-gallery {
        padding:15px;
    }

    .product-main {
        .short-description {
            color: gray;
        }
        .color-thumbnail {
            display: inline-block;
            position: relative;
            text-align: center;
            i {
                font-size: 1.6rem;
                position: absolute;
                top: 0;
                left: 0;
                margin: auto;
                width: 100%;
                transform: translateY(60%);
            }
        }
        .color-thumbnail:not(:last-child) {
            margin-right: 10px;
        }
        .color-image {
            border: 2px solid white;
            &.selected {
                border: 2px solid darkslategray;
                opacity: 0.8;
            }
        }
        .price {
            font-size: 1.3rem;
            color: rgb(22, 22, 109);
            font-weight: bold;
        }
        .availability {
            color: red;
            font-weight: bold;
        }

        .product-buttons {
            button {
                i {
                    font-size: 1.3rem;
                }
                &.add-to-cart {
                    margin-left: 0;
                    i {
                        margin-right: 0.4rem;
                    }
                }
            }
        }

        .delivery {
            color: darkslategray;
            i {
                font-size: 1.8rem; 
                margin-right: 1rem; 
            } 
            span {
                font-size: 1.2rem;
            }
        }

        .product-views {
            color: darkgray;
        }

        .product-social {
            i {
                font-size: 1.6rem;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }

        .notify-me {
            i {
                color: black;
                font-size: 1.4em;
            }
        }
    }

    .information-tabs {
        .product-tabs {
            border-bottom: 1px solid gray;
            span {
                display: inline-block;
                text-transform: uppercase;
                &:not(.tab-devider) {
                    padding: 0.8rem;
                    cursor: pointer;
                }
                &:not(:last-child) {
                    margin-right: 10px;
                }
                &.selected {
                    font-weight: bold;
                    border-bottom: 1px solid blue;
                }
            }
        }
        .tab-container {
            padding-top: 10px;
            & > div {
                display:none;
            }
            & >div.selected {
                display: block;
            }
        }
    }
}

