.sidebar {
  margin-bottom: 20px;
  .filter-content {
    @include respond-to(tablet) {
      margin-left: 15px;
    }
  }
  @include respond-to(desktop) {
    margin-bottom: 0px;
  }
  .slider {
      padding: 15px;
      padding-top: 25px;
      padding-bottom: 25px;
    .input-range__track {
      background-color: gray;
    }
  }
  .color-filter {
    .title-row {
      display: flex;
      justify-content: space-between;
    }
    .color-link {
      margin-bottom: 10px;
      display: inline-block;
      border: 1px solid #d6d6d6;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    svg {
      visibility: hidden;
    }
    .active {
      font-weight: bold;
      svg {
        visibility: visible;
      }
    }
  }
}
