.top-nav {
    background-color: black;
    padding: 5px 0 5px 0;
    & .row > div:not(:last-child) {
        margin-bottom: 5px;

        @media (min-width: $grid-medium-breakpoint) {
            margin-bottom: 0;
        }
    }
    .social {
        text-align: center;
        @media (min-width: $grid-medium-breakpoint) {
            text-align: left;
        }
        a {
            width:30px;
            text-align: center;
            display: inline-block;
            font-weight: bold;
            color: rgb(0, 0, 51);
            margin-right: 4px;
            background-color: white;
            border-radius: 50px;
            padding:4px;
        }
        a:last-child {
            margin-right: 0px;
        }
    }
    .user-top {
        a.user-link {
            margin-right: 10px;
            & i {
                margin-right: 3px;
            }

            & .dropdown > div {
                background-color: black;
                color: white;
                padding: 10px;

            }
        }
        a:last-child {
            margin-right:0;
        }

        a {
            color:white;
            margin-right: 4px;
        }
        a:last-child {
            margin-right: none;
        }
    }
}

.search {
    .input-control-addon {
        position:relative;
        input {
            width: 100%;
            margin-bottom: 0;
            margin-top: 0;
            border-radius: 4rem 0 0 4rem;
            border-right: none;
            margin-right:0;
            margin-left: 0;
            padding-right: 0;
            color: black;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
        }
    }
}