.top-nav {
    background-color: black;
    padding: 5px 0 5px 0;
    .social {
        a {
            width:30px;
            text-align: center;
            display: inline-block;
            font-weight: bold;
            color: rgb(0, 0, 51);
            margin-right: 4px;
            background-color: white;
            border-radius: 50px;
            padding:4px;
        }
        a:last-child {
            margin-right: 0px;
        }
    }
    .search {
        input {
            color:white;
        }
    }
    .user-top {
        a {
            color:white;
            margin-right: 4px;
        }
        a:last-child {
            margin-right: none;
        }
    }
}