$universal-margin: 0;
$button-fore-color: white;
$button-back-color: #63606b;
$button-hover-back-color: #79847d;
$back-color: white;
@import 'node_modules/mini.css/src/flavors/mini-default.scss';
@import 'node_modules/react-input-range/src/scss/input-range/input-range.scss';
@import 'mixins';
@import 'helpers';
@import 'top_nav' ;
@import 'mobile_nav';
@import 'footer';
@import 'product_page';
@import 'sidebar';
@import 'cart';
@import 'form';
// Fix SCSS webpack stuff
body {
    margin: 0;
    padding: 0;
}
button.primary {
    background-color: black;
}
form {
    background-color: white;
}
button .button{
    background-color: black;
}

ul.circle {
    list-style: circle;
}

.app-container {
    min-height: 100vh;
}
.main-container {
    margin-bottom: 100px;
    background-color:white;
    flex-grow: 1;
    @include respond-to(small) {
        margin-bottom: 0;
    }
}

.confined-container {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.dropdown-toggle {
    cursor: pointer;
    color: white;
    display: inline-block;
    position: relative;
}

.dropdown {
    display: none;
}
.dropdown.open {
    display: block;
    white-space: nowrap;
    position: absolute;
    background-color: white;
    color:black;
}

button > svg {
    padding-left: 10px;
    padding-right: 10px;
}