body {
    margin: 0;
    padding: 0;
}

.row-center {
    align-items: center;
    justify-content: center
}

.text-right {
    text-align: right;
}

.dropdown-toggle {
    display: inline-block;
    position: relative;
}

.dropdown {
    display: none;
}
.dropdown.open {
    display: block;
    white-space: nowrap;
    position: absolute;
    background-color: white;
    color:black;
}

@import '_top_nav' 