body {
    margin: 0;
    padding: 0;
}

.input-control-addon {
    position:relative;
    input {
        width: 98%;
        margin-bottom: 0;
        border-radius: 4rem 0 0 4rem;
        border-right: none;
    }
    button {
        position: absolute;
        top: 0;
        right: 0;
        margin-bottom:0;
    }
}
@import '_top_nav' 