$universal-margin: 0;
@import 'node_modules/mini.css/src/flavors/mini-default.scss';
@import 'node_modules/react-input-range/src/scss/input-range/input-range.scss';

body {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color:white;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.dropdown-toggle {
    display: inline-block;
    position: relative;
}

.dropdown {
    display: none;
}
.dropdown.open {
    display: block;
    white-space: nowrap;
    position: absolute;
    background-color: white;
    color:black;
}

@import 'mixins';
@import 'helpers';
@import 'top_nav' ;
@import 'main_nav';
@import 'mobile_nav';
@import 'footer';
@import 'product_page';
@import 'sidebar';
@import 'cart';
@import 'form';